# ignore evjrything by default
*

# but not these files...
!.gitignore
!.tmux.conf
!.wezterm.lua
!.zshrc

# include .config directory
!.config/

# exclude all contents of .config directory except .config/nvim/
.config/**
!.config/nvim/

# include all files and subdirectories inside .config/nvim/
!.config/nvim/**
