# ignore everything by default
/*
*.DS_Store

# but not these files
!.gitignore
!.tmux.conf
!.wezterm.lua
!.zshrc

# allow .config directory
!/.config

# ignore everything in .config by default
/.config/*

# but not these dirs
!/.config/fish
!/.config/kitty
!/.config/nvim

# and not these files
!/.config/starship.toml

